h1 {
    color: rgb(7, 147, 202);
    width: 70%;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 2.5px;
    font-size: 55px;
    font-family: Arial Black;
}

body {
    background-color: #F0EBE3;
}

p {
    color: rgb(32, 134, 100);
    font-weight: 500;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
}

button {
    background-color: #1eacbe;
}